body {
  background-color: #f4f4f4;
  color: #333;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

h1 {
  color: #0056b3;
  text-align: center;
}

p,
li {
  font-size: 1.1em;
  line-height: 1.8;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
